<header class="masthead">
  <div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center">
      <h1 class="mx-auto my-0 p-5">Editing Person</h1>

      <div class="mx-auto p-5">
        <%= render 'form', person: @person %>
      </div>

      <%= link_to 'Show', @person, :class => "btn btn-primary js-scroll-trigger"  %>
      <%= link_to 'Back', people_path, :class => "btn btn-primary js-scroll-trigger"  %>
      <%= link_to 'Add New Car', new_car_path(:person => @person), :class => "btn btn-primary js-scroll-trigger" %>
    </div>
  </div>
</header>
