<!-- Header -->
<header class="masthead">
  <div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center">
      <h1 class="mx-auto my-0 text-uppercase">Car Trek</h1>
      <h2 class="text-white-50 mx-auto mt-2 mb-5">A Rails app for keeping track of Cars and their Owners.</h2>
      <a href="cars/new" class="btn btn-primary js-scroll-trigger">New Car</a>
      <a href="people/new" class="btn btn-primary js-scroll-trigger">New Owner</a>
    </div>
  </div>
</header>
