@import 'theme_files/variables';
@import 'theme_files/navbar';
@import 'theme_files/masthead';
@import 'theme_files/buttons';
@import 'theme_files/tables';

body {
  font-family: 'Nunito';
  letter-spacing: 0.0625em;
}

a {
  color: $primary;
  &:focus,
  &:hover {
    text-decoration: none;
    color: darken($primary, 20%);
  }
}

.bg-black {
  background-color: $black !important;
}

.bg-primary {
  background-color: $primary !important;
}

.text-primary {
  color: $primary !important;
}

footer {
  padding: 5rem 0;
}

.container {
  max-width: 950px;
}